Tugas Pertemuan 5.json
{
  "name": "Tugas Pertemuan 5",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFile",
        "fileToWatch": {
          "__rl": true,
          "value": "1IzbR8Ha3W9DX8emyVfRQjprCU2--9X5BRv7xyvaQ0lY",
          "mode": "list",
          "cachedResultName": "Panduan Penulisan Ilmiah Tugas Akhir Skripsi 1",
          "cachedResultUrl": "https://docs.google.com/document/d/1IzbR8Ha3W9DX8emyVfRQjprCU2--9X5BRv7xyvaQ0lY/edit?usp=drivesdk"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        48,
        160
      ],
      "id": "5e37c85a-52a2-4e7c-a057-8d193a3e0d17",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "IuDDejZwfgAhkC2L",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8889defe-fb23-4a2e-84da-02b4e4b7cb84",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        160
      ],
      "id": "9084b3cf-d4a6-4f9e-8d8d-9423d6dc07f0",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        464,
        160
      ],
      "id": "2a6af5c2-8dcf-4ed8-af4d-d5ef7bff6aae",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "IuDDejZwfgAhkC2L",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        672,
        160
      ],
      "id": "e0400d05-c0af-48e2-8aa1-566fc8462660",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        880,
        160
      ],
      "id": "e47a0a75-4d5a-4eac-a12f-174a88784a4a",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "U4umRWcOHls5Zpxk",
          "name": "Supabase account 3"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        832,
        368
      ],
      "id": "42a6f919-b4a9-4d08-9142-854f2da6809f",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "7F4M8EVTO5PI6Oko",
          "name": "Google Gemini(PaLM) Api account 5"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Edit Fields').item.json.file_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1024,
        368
      ],
      "id": "cae21a0e-5166-460b-9ee4-b4b1c14c2249",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1120,
        464
      ],
      "id": "551cb935-dae2-4810-819c-3b6d2e3ec055",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nMy name is coco. How can I assist you today?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        368
      ],
      "id": "e83fdd39-760c-4ea2-bedf-3572679609bf",
      "name": "When chat message received",
      "webhookId": "73fec67c-7d72-47d3-a10e-eacd29571475"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        112,
        576
      ],
      "id": "897c58d9-423d-4335-b6cc-79a3ba0b220e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "qqY3jJdD8vNCtvVf",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Gunakan Tool ini untuk \nmenjawab pertanyaan tentang TA.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        768,
        656
      ],
      "id": "b0d0fb2f-de97-426c-855d-d421afc6b81f",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "U4umRWcOHls5Zpxk",
          "name": "Supabase account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "{{ $json.chatInput }}",
        "options": {
          "systemMessage": "Kamu adalah cika asisten penulisan ilmiah tugas akhir atau skripsi yang hanya menjawab berdasarkan data dari Supabase Vector Store, dan jika informasi tidak tersedia maka jawab “Mohon maaf, saya belum dapat memberikan jawaban.”"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        272,
        368
      ],
      "id": "9951bdaa-d74d-4245-9774-c752c1291ab5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "{{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        272,
        608
      ],
      "id": "6461fa43-69ea-4929-943c-bbf182c3eca0",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "tjSZ0qbHIrFaG5PM",
          "name": "Postgres account 4"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "4a5bac4e-114d-40db-bcf8-fc876e3b5314",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fbba9c8e3347c96e0f2893de188d5dccccdecad013fb9c4637090a1bb0c94b28"
  },
  "id": "VvtUthmSVsGJFlVq",
  "tags": []
}